@import url(./all.css);
@import url(./fonts.css);
/* external source https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto modified*/
.dot {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #555454;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

body {
  margin: 0;
}

.active {
  background-color: #ff9100;
}

* {
  font-family: Oxygen;
}

#content-wrapper {
  background: #2C2F33;
  padding-top: 2rem;
}

.hero-dotting {
  text-align: center;
  padding-bottom: 1rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.nav {
  background: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #555;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 0.4em;
}

.nav a {
  color: #555454;
  font-size: 35px;
  text-decoration: none;
  font-weight: 400;
}

nav :hover {
  color: black;
}

.hero-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-img-container .text {
  color: #ffffff;
  font-size: 90px;
  padding-left: 5rem;
  position: absolute;
  bottom: 0;
  top: 0;
  width: auto;
  text-align: left;
  font-weight: 600;
  text-shadow: 2px 2px 10px #000000;
}

.heroItem {
  min-height: 518px;
  -o-object-fit: cover;
     object-fit: cover;
}

.subline {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
  margin-left: 15%;
  margin-right: 15%;
}

#history {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 30px;
}

.image-tile {
  height: 370px;
  max-width: 30%;
  min-width: 350px;
  margin: 1.5rem;
  position: relative;
}

.image-tile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inlay-text {
  background: #555;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-overflow: hidden;
  font-size: 23px;
  padding-left: 5%;
  padding-right: 5%;
}

.image-tile-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
}

#scrollup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 6px;
}

#scrollup:hover {
  background-color: #ff7300;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #555;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ff7300;
}

.contact-form {
  border-radius: 5px;
  background-color: lightgray;
  padding: 20px;
  width: 60%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background: #555454;
  color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
  padding-right: 4rem;
}

footer .footer-item-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
}

footer a {
  text-decoration: none;
  color: lightgray;
  margin-bottom: 1em;
}

footer p {
  margin-top: 0;
}

footer a:hover {
  color: #ff9100;
}

footer a:active {
  color: #ff7300;
}

.dropbtn {
  background-color: #555;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: none;
}

.dropbtn:focus {
  outline: none;
}

.dropbtn:hover {
  color: white;
}

.dropbtn i:hover {
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:focus {
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100vw;
  left: -75vw;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ff9100;
}

.show {
  display: block;
  z-index: 11;
}

.phaser-game-container {
  width: 800px;
  height: 600px;
  border-style: solid;
  border-width: 2rem;
  border-color: #555555;
  border-radius: 1%;
  margin-top: 2rem;
}

.game-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1165px) {
  .image-tile {
    max-width: 75vw;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-img-container .text {
    color: #ffffff;
    font-size: 80px;
    padding-left: 5rem;
    position: absolute;
    bottom: 0;
    top: 0;
    width: auto;
    text-align: left;
    font-weight: 600;
    text-shadow: 2px 2px 10px #000000;
  }
}

@media only screen and (max-width: 900px) {
  .hero-img-container .text {
    color: #ffffff;
    font-size: 60px;
    padding-left: 5rem;
    position: absolute;
    bottom: 0;
    top: 0;
    padding-right: 5rem;
    max-height: 460px;
    width: auto;
    text-align: left;
    font-weight: 600;
    text-shadow: 2px 2px 10px #000000;
  }
  .dropbtn {
    display: block;
  }
  .text p {
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .navitem {
    display: none;
  }
  .phaser-game-container {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .hero-img-container .text {
    padding-left: 2rem;
    font-size: 40px;
  }
}
/*# sourceMappingURL=main.css.map */